{% extends "base.html" %} {% block title %}Article Uploader{% endblock %}


{%block content%}

<section>
    <div class='col-md-12 d-flex justify-content-around'>
        <div class='card col-md-3'>
        <div class='card-body'>
            <form action='#' method='POST'>
            <h5 class='card-part card-title d-flex justify-content-center'>Blondine</h5>   
            <h6 class='card-part card-subtitle mb-2 text-muted d-flex justify-content-center'>  
                <img src='./static/img/blondine.jpg' alt='image url not found' class='image-responsive img-thumbnail' style='max-height: 200px max-width=200px'>
            </h6>	
            <p class='card-part card-text'>
                There was once a king called Benin. He was good and all the world loved him; he was just and the wicked feared him. His wife, the Queen Doucette, was also good, and much beloved.This happy pair had a daughter called the Princess Blondine, because of her superb fair hair, and she was as amiable and charming as her father the king and her mother the queen.
            </p>
            <a class= "btn ml-2 d-flex justify-content-center" input type="submit" name="Submit" id="panel-button" value ="Submit" href="#">Read Now</a>
            </form>
        </div>   
        </div>  

        <div class='card col-md-3'>
        <div class='card-body'>
            <form action='#' method='POST'>
            <h5 class='card-part card-title d-flex justify-content-center'>Lament</h5>   
            <h6 class='card-part card-subtitle mb-2 text-muted d-flex justify-content-center'>  
                <img src='./static/img/lament.jpg' alt='image url not found' class='image-responsive img-thumbnail' style='max-height: 200px max-width=200px'>
            </h6>	
            <p class='card-part card-text'>
                One day it was announced to the king, that all his subjects demanded that he should marry again in order to have a son who should reign after him. He refused at first but finally yielded to the pressing desires of his people and said to his minister Leger:"My dear friend, my subjects wish me to marry again but my heart is so sad because of the death of my cherished queen Doucette that I cannot undertake the task of seeking another wife.
            </p>
            <a class= "btn ml-2 d-flex justify-content-center" input type="submit" name="Submit" id="panel-button" value ="Submit" href="#">Read Now</a>
            </form>
        </div>   
        </div>    

        <div class='card col-md-3'>
        <div class='card-body'>
            <form action='#' method='POST'>
            <h5 class='card-part card-title d-flex justify-content-center'>The Lost Queen</h5>   
            <h6 class='card-part card-subtitle mb-2 text-muted d-flex justify-content-center'>  
                <img src='./static/img/the-lost-queen.jpg' alt='image url not found' class='image-responsive img-thumbnail' style='max-height: 200px max-width=200px'>
            </h6>	
            <p class='card-part card-text'>
                At last he arrived at the kingdom of the monarch Turbulent, who had a lovely daughter, bright, winning and apparently good. Leger found her so charming, that he asked her hand in marriage for his king Benin, without sufficiently inquiring into her real character.            </p>
            <a class= "btn ml-2 d-flex justify-content-center align-items-end" input type="submit" name="Submit" id="panel-button" value ="Submit" href="#">Read Now</a>
            </form>
        </div>   
        </div>   
    </div>        
  </div>
</section>


{%endblock%}