{% extends "base.html" %} {% block title %}Home{% endblock %}


{%block content%}
<!-- ----------------------------------------------------------------------------------------------------------------------- -->
<!-- ----------------------------------------------- [Into Video] ----------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------------------------- -->

<section id="intro-video" class="intro-video">
    <div class="iframe-container">
      <iframe 
      width="560" height="315" src="https://www.youtube.com/embed/urvYtrv3VsU" title="YouTube video player" 
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
      </iframe>
    </div>
  </section>

  <section>
    
  </section>
  
  <!-- ======================================================================= -->
  <!-- About -->
  <!-- ======================================================================= -->
  
  <section id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="about-img">
              <img src="../static\img\about-image.png" alt="about-image" class="img-fluid">
            </div>
          </div>
          <div class="col-md-12 col-lg-6 about-title" style="text-align: left; padding-left: 50px;">
            <h3 class="text-uppercase" style="padding-bottom: 10px;">
              About Story Valley
            </h3>
            <p class="generic-paragraph about-paragraph paragraph w-75">
            Story Valley uses visual, audio, and digital materials to help reinterpret student stories by combining oral history and 
            innovative, creative literacy techniques.Students come together from different backgrounds and cultures and work together to 
            practice their English, their national language and to learn about each other's culture.
            </p>
            <p class="generic-paragraph about-paragraph paragraph w-75">
            We aim to inspire students to read, write and speak in different languages, and to use their creativity to translate their 
            stories to new media and platforms. This way, students will be able to strengthen their key competences in literacy and 
            language in an engaging and creative way.
            </p>
            <p class="generic-paragraph about-paragraph paragraph w-75">
            In the approach of using oral history as a driving force, we use an interdisciplinary way of learning to contribute to several 
            European key priorities such as raising awareness of european cultures value in society, strengthening competencies, and integrating
            migrant cultures by respecting their backgrounds, and sharing our own.
            </p>
            <p class="generic-paragraph about-paragraph paragraph py-4 w-75" style="text-align: right; font-weight: 700;">
              We would be very pleased if you would join us on this journey to unite the cultures through understanding and compassion.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
        <h3 class="text-uppercase" style="padding-bottom: 50px; text-align: center;">
          Popular Articles
        </h3>

      <div class='col-md-12 d-flex justify-content-around'>
          <div class='card col-md-3'>
          <div class='card-body'>
              <form action='#' method='POST'>
              <h5 class='card-part card-title d-flex justify-content-center'>Blondine</h5>   
              <h6 class='card-part card-subtitle mb-2 text-muted d-flex justify-content-center'>  
                  <img src='./static/img/blondine.jpg' alt='image url not found' class='image-responsive img-thumbnail' style='max-height: 200px max-width=200px'>
              </h6>	
              <p class='card-part card-text'>
                  There was once a king called Benin. He was good and all the world loved him; he was just and the wicked feared him. His wife, the Queen Doucette, was also good, and much beloved.This happy pair had a daughter called the Princess Blondine, because of her superb fair hair, and she was as amiable and charming as her father the king and her mother the queen.
              </p>
              <a class= "btn ml-2 d-flex justify-content-center" input type="submit" name="Submit" id="panel-button" value ="Submit" href="#">Read Now</a>
              </form>
          </div>   
          </div>  
  
          <div class='card col-md-3'>
          <div class='card-body'>
              <form action='#' method='POST'>
              <h5 class='card-part card-title d-flex justify-content-center'>Lament</h5>   
              <h6 class='card-part card-subtitle mb-2 text-muted d-flex justify-content-center'>  
                  <img src='./static/img/lament.jpg' alt='image url not found' class='image-responsive img-thumbnail' style='max-height: 200px max-width=200px'>
              </h6>	
              <p class='card-part card-text'>
                  One day it was announced to the king, that all his subjects demanded that he should marry again in order to have a son who should reign after him. He refused at first but finally yielded to the pressing desires of his people and said to his minister Leger:"My dear friend, my subjects wish me to marry again but my heart is so sad because of the death of my cherished queen Doucette that I cannot undertake the task of seeking another wife.
              </p>
              <a class= "btn ml-2 d-flex justify-content-center" input type="submit" name="Submit" id="panel-button" value ="Submit" href="#">Read Now</a>
              </form>
          </div>   
          </div>    
  
          <div class='card col-md-3'>
          <div class='card-body'>
              <form action='#' method='POST'>
              <h5 class='card-part card-title d-flex justify-content-center'>The Lost Queen</h5>   
              <h6 class='card-part card-subtitle mb-2 text-muted d-flex justify-content-center'>  
                  <img src='./static/img/the-lost-queen.jpg' alt='image url not found' class='image-responsive img-thumbnail' style='max-height: 200px max-width=200px'>
              </h6>	
              <p class='card-part card-text'>
                  At last he arrived at the kingdom of the monarch Turbulent, who had a lovely daughter, bright, winning and apparently good. Leger found her so charming, that he asked her hand in marriage for his king Benin, without sufficiently inquiring into her real character.            </p>
              <a class= "btn ml-2 d-flex justify-content-center align-items-end" input type="submit" name="Submit" id="panel-button" value ="Submit" href="#">Read Now</a>
              </form>
          </div>   
          </div>   
      </div>        
    </div>
  </section>
    {%endblock%}