
/*<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------ [Variables]  ------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->*/

:root{
    --backdrop-colour: #292b2c;
    --nav-footer-bgc: #212529;
    --accent-colour: #FF5100;
    --hover-colour: #eef07e;
    --text-colour: #f7eeee;
}

/*<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------ [Globals]  -------------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->*/

body{
    background-color: var(--backdrop-colour);
}
h1,h2,h3,h4,h5,h6,p{
   color: var(--text-colour); 
}

section{
    padding-top: 30px;
    padding-bottom: 10px;
}


/*<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- --------------------------------------------------------- [Navbar] ------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->*/

.navbar .container{
    max-width: 5000px !important;
}
.navbar form{
    padding-left: 100px;
}

.navbar .btn-outline-success
{
    color: var(--accent-colour);
    border-color: var(--accent-colour);
    margin-left: 3px;
}
.navbar .btn-outline-success:hover{
    color: var(--hover-colour);
    border-color:var(--hover-colour);
    background-color: var(--backdrop-colour);
}

.navbar-dark .navbar-nav .nav-link{
    background-color:var(--backdrop-colour);
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: var(--accent-colour);
    border-style: ridge;
    border-radius: 10px;
    border-width: thin;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: var(--hover-colour);
    border-color: var(--hover-colour);
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
}


/*<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ----------------------------------------------------------- [Cards]  --------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->*/

.card-h3{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.card-row{
    display: flex;
    justify-content: space-around;
}
.card{
    background-color: var(--backdrop-colour);
    background-color:var(--backdrop-colour);
    border-color: var(--accent-colour);
    border-style: ridge;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border-width: thin;
}
.card .card-part{
    padding-bottom: 5px;
    padding-top: 5px;
}
.card .btn{
    color: var(--accent-colour);
    border-color: var(--accent-colour);
    margin-left: 3px;
}
.card .btn:hover{
    color: var(--hover-colour);
    border-color:var(--hover-colour);
    background-color: var(--backdrop-colour);
}

/*<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------- [Venue Picker] ----------------------------------------------------------- -->
<!-- ---------------------------------------------------------------------------------------------------------------------------------- -->*/

.venue-picker-h3{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}


/*<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ----------------------------------------------------------- [Panels]  --------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->*/

th{
    text-align: center;
    color: var(--text-colour);
}

#panel-button{
    background-color: var(--accent-colour);
    color: var(--text-colour);
    border-radius: 15%;
}
#panel-button:hover{
    background-color: var(--hover-colour);
    color: var(--nav-footer-bgc);
}


/*<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ----------------------------------------------------------- [#]  --------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->*/

/*<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ----------------------------------------------------------- [#]  --------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->*/

/*<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ----------------------------------------------------------- [#]  --------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->*/

/*<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- ----------------------------------------------------------- [#]  --------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->*/

/*<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- --------------------------------------------------------- [Footer]  ------------------------------------------------------------ -->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->*/
